.autocaptionbtn {
	padding: 3px 3px;
	outline: none;
	border: none;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	background-color: #000000;
	margin-left: 4px;
}

.autocaptionbtn:hover {
	background-color: purple;
	color: #ffffff;
	font-size: 12px;
	padding: 3px 3px;
}

.autocaptionbtn-selected {
	padding: 3px 3px;
	outline: none;
	border: none;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	background-color: purple;
	margin-left: 4px;
}

/* .autocaptionbtn-selected:hover {
	background-color: purple;
	color: #ffffff;
	font-size: 12px;
	padding: 3px 2px;
} */

.subtitles {
    /* margin: 0px; */
    max-height: 53.7vh;
    /* overflow-wrap: break-word; */
    overflow-y: auto;
}

.subtitlesrow {
    margin-top: 2vh;
    display: flex;
    justify-content: start;
    flex-direction: row;    
}

.time {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 0vh;
}

/* .subtitlestab {
    overflow-y: scroll;
} */