.wpnavbar {
	background: #000000;
	height: 3.5vh;
	display: flex;
	font-size: 0.95rem;
	border-bottom: 1px solid #000000;
}

.wpnav-menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.leftMenu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wpnav-item {
	color: #ffffff;
}

.wpbtn {
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.95rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-bottom: 0.1rem;
	cursor: pointer;
}

.wpbtn:hover {
	background-color: purple;
	color: #fff;
}

.searchBar {
	box-sizing: border-box;
	border: 0rem;
	padding: 0.1rem 0.3rem;
}

/* .searchBar:focus {
	border: 0.1rem solid #555;
} */
