.wpnavbar {
  background: #929292;
  height: 5vh;
  display: flex;
  font-size: 15px;
  border-bottom: 1px solid #000000;
}

.wpnav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wpnav-item {
  display: flex;
  align-items: center;
  height: 5vh;
}

.wpbtn {
  padding: 3px 5px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
}

.wpbtn:hover {
  padding: 3px 5px;
  transition: all 0.3s ease-out;
  background-color: #4d4d4d;
  color: #fff;
}