.video-component {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.react-player {
	/* position: relative; */
	/* top: 0;
	left: 0; */
	/* margin: auto;
	margin-left: auto;
	margin-right: auto; */
	width: auto;
	height: 100%;
}

.react-player-dropzone {
	/* position: relative; */
	/* top: 0;
	left: 0; */
	/* margin: auto;
	margin-left: auto;
	margin-right: auto; */
	width: auto;
	height: 100%;
	border: solid purple 5px;
    border-radius: 7px;
	outline: none;
    box-shadow: 0 0 20px pink;
}

.controls {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10%;
	width: 90%;
	/* width: 100%; */
	/* align-items: center; */
}

.media-controls {
	display: flex;
	flex-direction: row;
	gap: 50%;
}

#mediaButton {
	cursor: pointer;
}
