.promptbox {
  border-style: dashed;
  border-color: purple;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompttext {
  text-align: center;
  font-size: 3vh;
}
