.frametoolsbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #000000;
	height: 10vh;
	display: flex;
	flex-direction: column;
}

.uppertoolbar {
	height: 3vh;
}

.actionContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.actionTitle {
	padding: 0.1rem 0.6rem;
	color: #ffffff;
	font-size: 0.8rem;
	cursor: pointer;
}

.lowertoolbar {
	height: 7vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.icon-container {
	font-size: 100%;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	color: white;
	text-align: center;
	cursor: pointer;
}

.iconTitle {
	font-size: 0.8rem;
}
