.framesGrid {
    display: flex;
    flex-direction: row;
    height: 15vh;
    padding-top: 14px;
    max-width: 100vw;
}

.framesImg {
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    height: 100%;
}

.last {
    min-width: 50vw;
    max-width: 50vw;
    width: 50vw;
}

.start {
     color: #929292;
     width: 50vw;
}