.mainTimeline {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  height: 33vh;
}

.videoTime {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  color: #ffffff;
  background-color: #000000;
  height: 3vh;
}

.Line {
  align-self: center;
  justify-content: center;
  position: absolute;
  width: 0.4rem;
  height: 99%;
  background-color: white;
}

.LineScroll {
  align-self: center;
  justify-content: center;
  position: absolute;
  width: 0.4rem;
  height: 95%;
  background-color: white;
}

.timelineEmpty {
  overflow-y: hidden;
  height: 100%;
}

.timeline {
  overflow-y: auto;
  height: 100%;
  /* padding-bottom: 1vh; */
}
