.mainTimeline {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  height: 33vh;
}

.videoTime {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  color: #ffffff;
  height: 3vh;
}

.Line {
  align-self: center;
  justify-content: center;
  position: absolute;
  width: 0.4rem;
  height: 99%;
  background-color: white;
}

.LineScroll {
  align-self: center;
  justify-content: center;
  position: absolute;
  width: 0.4rem;
  height: 95%;
  background-color: white;
}

.timelineEmpty {
  overflow-y: hidden;
  height: 100%;
}

.timeline {
  overflow-y: auto;
  height: 100%;
  /* padding-bottom: 1vh; */
}

.displayMP4{
  display: flex;
  flex-direction: column;

}

.timelineheader{
  display: grid;
  grid-template-columns: 20% 50% 20%;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
}

.clearAllIcon {
  display: flex;
  width: 100%;
  height: 3vh;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 2vh;
}

.fa-trash{
  margin-right: 1vw

}