.mainTimeline {
    display: flex;
    flex-direction: column;
    max-height: 93%;
    position: relative;
    max-width: 100vw;
}

.videoTime {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #000000;
}

.Line {
    align-self: center;
    justify-content: center;
    position: absolute;
    width: 5px;
    height: 34.3vh;
    background-color: white;
}

.LineScroll {
    align-self: center;
    justify-content: center;
    position: absolute;
    width: 5px;
    height: 32vh;
    background-color: white;
}