.navbar {
	background: #000000;
	height: 4vh;
	display: flex;
	font-size: 2.5vh;
	justify-content: space-between;
}

.navbar-left-menu {
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	cursor: pointer;
}

.navbar-left-menu:hover {
	background-color: purple;
	color: #ffffff;
}

.fa-firstdraft {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.navbar-right-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-item {
	font-size: 2vh;
	padding-right: 0.5vw;
	color: #ffffff;
}

.nav-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	padding-left: 0.4rem;
	color: #ffffff;
}

/* .nav-links {
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links:hover {
	background-color: #1888ff;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.nav-links-mobile {
	display: none;
} */

.fa-circle-question {
	color: #ffffff;
}

.fa-circle-xmark {
	color: #ffffff;
}
